* {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

.orbitron-font {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}