* {
  background-color: #282c34;
  color: white;
  padding: 8px;
  
  text-align: center;

}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  justify-content: center;
}

.crumb {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  font-size: 1.125rem;
  color: #ffffff;
  border-radius: 0.375rem;
}

.crumb > :not(:last-child)::after {
  content: '>';
}

.bread-image {
  background-color: #fff;
  color: #282c34;
  stroke: #61dafb;
}


h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

.orbitron-font {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}